/*
 * Intermittent Bug Filer
 */
#modalForm {
    padding: 20px;
}

#modalProductFinderButton {
    margin: -4px 0 0 5px;
    line-height: 16px;
}

#suggestedProducts {
    margin-left: 17px;
}

#suggestedProducts > .form-group {
    margin-bottom: .25rem;
}

#failureSummaryGroup {
    margin-top: 40px;
}

#modalSummarylabel {
    margin-top: -5px;
}

#modalSummary {
    width:80%;
}

#modalSummaryLength {
    float:right;
    margin-right:25px;
    font-size: large;
    font-weight: bold;
    color: green;
}

#modalSummary:invalid + span {
    color: red;
}

#modalComment {
    width:80%;
    height:150px;
}

#modalForm > div:not(#modalLogLinkCheckboxes) > label, #productFinderButton {
    float:left;
    padding: 5px;
}

#modalLogLinkCheckboxes {
    padding-left:15px;
    padding-bottom:5px;
    color: #337AB7;
}

#modalLogLinkCheckboxes a {
    color:inherit;
}

#modalForm > div:after {
    content: ".";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
}

#modalFailureList {
    width: 80%;
    padding: 5px;
    max-height: 250px;
    overflow: auto;
    clear:both;
}

#modalCrashSignatureDiv {
    float: left;
    padding: 5px;
    width: 100%;
}

#modalCrashSignatureLabel {
    float: left;
    padding: 5px;
}

#modalCrashSignature {
    width: 80%;
}

#modalRelatedBugs {
    padding-top: 10px;
    padding-right:10.5%;
    float: right;
}

#modalRelatedBugs > input {
    margin-right: 3px;
}

#unhelpfulSummaryReason > div:first-child {
    color: red;
}

#unhelpfulSummaryReason > div:not(:first-child) {
    font-family: monospace;
    padding: 3px;
    padding-left: 20px;
}

#productSearchSpinner {
    padding: 6px;
}
